:root{
    --primary-color:#4CAF4F;
}
 
header{
  display: flex;                
  align-items: center;   
  justify-content: space-between;
  padding-left: 30px;
   padding-right: 70px;
}
.sec1{
    background-color: #f5f5f5;
     padding-left: 40px;
   padding-right: 70px;
   height: 600px;
}

header nav ul.main {
  display: flex;     
  text-decoration: none;
  list-style: none;   

  gap: 40px;       
}
header nav ul.main li a{
    text-decoration: none;
    color: black;
}
 #button1{
  border: none;
  background: none;
  color: var(--primary-color);
 }
 #button2{
 background-color: var(--primary-color);
 color: aliceblue;
 border: none;
 border-radius: 4px;
 }

#b{
  font-size: 50px;
}
#bb{
    font-size: 40px;
    color: var(--primary-color);
}
#button3{
  background-color: var(--primary-color);
  color: aliceblue;
  border: none;
   border-radius: 4px;
}
 
.hero {
  display: flex;              
  align-items: center;       
  gap: 200px;                 
}

 .sec2 .v2{
  text-align: center;
 }

 .sec2 .v3{
   display: flex;                
  align-items: center;   
 justify-content:center;
 gap:150px;
 }
 .sec2 .v4{
 text-align: center;
 }

 .sec2 .v5 {
 
 display: flex;                
  align-items: center;   
 justify-content:center;
padding-left: 90px;
padding-right: 90px;
gap: 80px;
 }

 .sec2 .v6{

  display: flex;     
   padding-left: 90px;
padding-right: 90px;
      
 }
 .v6 button{
  border: none;
  background-color: var(--primary-color);
  color: aliceblue;
   border-radius: 4px;
 }

 .sec3{
  background-color: #f5f5f5;          
  padding: 64px 144px; 
 }
 .sec3 b{
  font-size: 40px;
 }
 #bb2{
  color: var(--primary-color);
 }
.v8 {
  display: flex;   

}


 .sec4 {

  display: flex;     
   padding-left: 90px;
padding-right: 90px;
      
 }

.sec4 button{
  border: none;
  background-color: var(--primary-color);
  color: aliceblue;
   border-radius: 4px;
 }

 .sec5{
   display: flex;     
   padding: 90px;
background-color: #F5F7FA;
      
 }
 .sec5.v10{
  display: flex;
  flex-direction: column;
 } 
 .sec5 a{
  text-decoration: none;
  color: var(--primary-color);

 }
 .sec5 b{
  color: var(--primary-color);
 }
 a::after{
  content: "➜";
  color: var(--primary-color);
 }

  

 .sec7{
  display:flex;
   justify-content: center;
  align-items: center;  
 }
 .sec7 button{
  background-color: var(--primary-color);
  color: #f5f5f5;
    border: none;
   border-radius: 4px;
  
 }
  button::after{
  content: "➜";
  color:#f5f5f5;
 }
 
 .sec8{
  background-color: #263238;


 }

